body {
  line-height: 1.5em;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 15px;
}

.button {
  padding: 15px;
  background-color: rgb(8, 78, 209);
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  color: white;
}