body {
  line-height: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  background-color: rgba(186, 211, 96, 0.3);
}

.pokemon-list {
  list-style-type: none;
  padding: 0;
}

li button {
  text-transform: capitalize;
}

.modal-title {
  text-transform: capitalize;
}